        <table>
          <thead>
            <tr>
              <th class="img"></th>
              <th class="name">Name</th>
              <th class="price">Price</th>
              <th class="ratings">Seller Ratings</th>
            </tr>
          </thead>
          <tbody>{{if items.length}}{{each items}}
            <tr{{if $index % 2 == 1}} class="alt"{{/if}}>
              <td class="img"><img src="${ img }" height="48" width="48" class="img" /></td>
              <td class="name">${name}</td>
              <td class="price">$${price}</td>
              <td class="ratings"><span class="rating"><span class="positive">${up}<img src="img/green_arrow.png" /></span> <span class="negative">${down}<img src="img/red_arrow.png" /></span></span></td>
            </tr>{{/each}}{{/if}}
          </tbody>
        </table>